<h1>本の編集をする</h1>
<%= form_for(@book) do |f| %>

<h3>本の名前</h3>
<%= f.text_field :title %>

<h3>感想</h3>
<%= f.text_area :body %>

<%= f.submit "保存" %>

<% end %>

<%= link_to "表示", book_path(@book.id) %>
<%= link_to "投稿一覧に戻る", books_path %>


