<h3>本の名前:<%= @book.title %></h3>

<h3>感想:<%= @book.body %></h3>
<% if current_user.id == @book.user_id %>
<%= link_to "編集", edit_book_path(@book.id) %>
<%= link_to "削除", book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
<% end %>
<p><%= @book.book_comments.count %>件コメント</p><BR><BR>

<table class="table table-bordered">
		<tr>
			<th>コメント</th>
			<th>コメントしたユーザー</th>
		</tr>

		<% @book.book_comments.each do |book_comment| %>
		<tr>
			<td><%= book_comment.comment %></td>
			<td><%= book_comment.user.name %>さん</td>
			<% if current_user.id == book_comment.user_id %>
			<td><%= link_to "削除", book_book_comment_path(@book.id, book_comment.id), method: :delete, "data-confirm" => 'このコメントを削除してよろしいですか？' %>
				<% end %>
		</tr>
		<% end %>
</table>

<% if @book.favorited_by?(current_user) %>

<%= link_to book_favorites_path(@book), method: :delete do %>
	<p><span class="glyphicon glyphicon-heart" aria-hidden="true" style="color:red;"></span><%= @book.favorites.count %>いいね</p>
<% end %>

<% else %>

<%= link_to book_favorites_path(@book), method: :post do %>
	<p><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><%= @book.favorites.count %>いいね</p>
<% end %>

<% end %>




<h4>コメント</h4>

<%= form_for [@book, @book_comment] do |f| %>

<%= f.text_field :comment %>

<%= f.submit "送信" %>

<% end %>




<%= link_to "投稿一覧に戻る", books_path %>

