<!DOCTYPE html>
<html>
  <head>
    <title>Booker</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<header class="header">
  		<div class="container">
  			<div class="row">
  		<p class="col-lg-4 booker"><span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers</p>
  		<% if user_signed_in? %>
  		<ul class="col-lg-8">
  			<div class="conteiner">
  				<div class="row">
  			<li class="col-lg-2"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>
  				<%= link_to"ホーム", top_path %></li>
  			<li class="col-lg-2"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
  				<%= link_to "マイページ", mypage_path(current_user.id) %></li>
  			<li class="col-lg-2"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          <%= link_to "user一覧", usersinfo_path %></li>
  			<li class="col-lg-2"><span class="glyphicon glyphicon-book" aria-hidden="true"></span>
  				<%= link_to "book一覧", books_path %></li>
  			<li class="col-lg-2"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
  				<%= link_to "ログアウト", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
  		<% else %>
  			<li class="col-lg-2"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>
  				<%=link_to "トップ", top_path %></li>
  			<li class="col-lg-2"><span class="glyphicon glyphicon-link" aria-hidden="true"></span>
  				<%=link_to "アバウト", top_path %></li>
  			<li class="col-lg-2"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
  				<%= link_to "新規登録画面へ", new_user_registration_path %></li>
  			<li class="col-lg-2"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
  				<%= link_to "ログイン", new_user_session_path %></div></li>
  				</div>
  			</div>
  		</ul>
  		<% end %>
  	</header><!-- /header -->
  	

    <%= yield %>

  </body>
</html>
